@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --gradient: radial-gradient(
      ellipse 60% 60% at 50% -20%,
      rgba(249, 116, 21, 0.3),
      rgb(24, 24, 24)
    );
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: var(--gradient);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
